@{
    ViewData["Title"] = "Email Confirmed";
}
<h4 class="text-center alert alert-success alert-heading">Email Confmation!</h4>
<hr />
<div class="alert alert-success alert-dismissible fade show">
    <strong>Email Confmation!!</strong>   Email Confirmed Successfull , Please Login ....
</div>