@{
    ViewData["Title"] = "Ducumentation";
    Layout = "Anele";

}
<head>
    Documentaion
</head>
<body>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Feed Page
        </h1>
        <p1>
            <img class="card-img-top" style="max-width:500px;" src="~/Pic/Capture21.PNG" />
            <br />
            <p1 class="card-text">
                Your Brand or Company name will list along other  brand
            </p1>
        </p1>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Home Page
        </h1>
        <p1>
            <img class="card-img-top" style="max-width:500px;" src="~/Pic/Capture4.PNG" />
            <br />
            <p1 class="card-text">
                When you have sign in our platform and your document have been verify for selling this your home page  where you can navigate to.
            </p1>
        </p1>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Create Product
        </h1>
        <p1>
            <img class="card-img-top" style="max-width: 500px;" src="~/Pic/Capture17.PNG" />
            <br />
            <p1 class="card-text">
                Add or update product you want
            </p1>
        </p1>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Product Details
        </h1>
        <p1>
            <img class="card-img-top" style="max-width:500px;" src="~/Pic/Capture15.PNG" />
            <br />
            <p1 class="card-text">
                Add product details accoding the product you created
            </p1>
        </p1>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Product Details info
        </h1>
        <div class="card-title">
            <img class="card-img-top" style="max-width:500px;" src="~/Pic/Capture14.PNG" />
            <br />
        </div>
        <p1 class="card-text">
            View product details accoding the product you selected and you can manage all product details
        </p1>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Product List
        </h1>
        <div class="card-title">
            <img class="card-img-top" style="max-width:500px;" src="~/Pic/Capture5.PNG" />
            <br />

        </div>
        <p1 class="card-text">
            List of all product you have posted  and you can navigate  through Instock or out of stock
        </p1>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Oder list
        </h1>
        <div class="card-title">
            <img src="~/Pic/Capture61.PNG" class="card-img-top" style="max-width:500px;" />
            <br />

        </div>
        <p1 class="card-text">
            You can manage your oders  statuse and view oders , shipping address ,view oder details , you can serch oder by refrance or view by payment Id
        </p1>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Whatssap
        </h1>
        <div class="card-title">
            <img src="~/Pic/Capture11.PNG" class="card-img-top" style="max-width:600px;" />
            <br />
            <p1 class="card-text">
                Add whatssapp number that will apear on shop profile , you need to tick or check the box if you want to active or un tick to be un active
            </p1>
        </div>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Online Pay
        </h1>
        <div class="card-title">
            <img class="card-img-top" style="max-width:600px;" src="~/Pic/Capture9.PNG" />
            <br />
            <p1 class="card-text">
                You need create payfast account in oder accept online payment for know we supporting payfast,to activate  payment to user tick the box  also if you want activate sandbox you need to tick sandbox , with a sand box checked this means its not actual payment
            </p1>
        </div>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Home
        </h1>
        <div class="card-title">
            <img src="~/Pic/Capture3.PNG" style="max-width:600px;" />
            <br />

        </div>
        <p1 class="card-text">
            your product will  show in the list with brand product
        </p1>
    </div>
    <div class="card mb-5" style="border-radius: 15px; max-width:40rem;">
        <h1>
            Show
        </h1>
        <div class="card-title">
            <img class="card-img-top" role="img" style="max-width:600px;" src="~/Pic/Capture1.PNG" />
            <br />

        </div>
        <p1 class="card-text">
            The product will show with oder product  and rank
        </p1>
    </div>

</body>
