@model UserEditViewModel

@{
    Layout = "__HomeLayout";
    ViewData["Title"] = "Edit";
}
<h4 class="card-header">Update</h4>
<div class="alert-danger font-weight-bolder">
    @ViewBag.USuccess
</div>

<hr />
<div class="card-body">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" placeholder="Surname" class="form-control card" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>