@{
    ViewData["Title"] = "Error Occured";
}
<h4 class="text-center alert alert-danger alert-heading">Error Occured!</h4>
<hr />
<div class="alert alert-danger alert-dismissible fade show">
    <strong>Error!</strong>  Somthing went wrong Please comtact owner.
</div>