@{
    ViewData["Title"] = "Ducument";
 
}
<head>
    How do I verify my account? 
</head>
<body>
    <a asp-action="Index" asp-controller="Account">Back</a>
    <h1>
        Proof of physical address
    </h1>

    <p1>
        <p>
            Here is a list of valid documents that can be used to verify an Proof of physical address:
        </p>
        <ul style="list-style-type:circle">
            <li>
                Utility bill, e.g. municipal water and lights account or property managing agent statement (not older than 3 months)
            </li>
            <li>
                A bank statement or financial statement from bank (not older than 3 months)
            </li>
            <li>
                A retail account statement (not older than 3 months)
            </li>
            <li>
                Municipal councillor’s letter (not older than 3 months)
            </li>
            <li>
                Tax certificate (not older than 3 months)
            </li>
            <li>
                Municipal councillor’s letter (not older than 3 months)
            </li>
            <li>
                Tax certificate (not older than 3 months)
            </li>
            <li>
                Affidavit to confirm address (only applicable to individuals please see link below with an example of the affidavit) (not older than 3 months)
            </li>
            <li>
                Official university/technicon/college or tertiary institution registration letter (not older than 3 months)
            </li>
            <li>
                Subscription TV, e.g. MultiChoice statement (not older than 3 months)
            </li>
            <li>
                Television license renewal/confirmation letter (not older than 3 months)
            </li>
        </ul>


    </p1>
    <h1>
        Identity document
    </h1>
    <p1>
        <p>
            Here is a list of valid documents that can be used :
        </p>
        <ul style="list-style-type:circle">
            <li>
                Identity document
            </li>
            <li>
                Passport
            </li>

        </ul>
    </p1>
</body>