@{
    ViewData["Title"] = "Password Changed";
}
<h4 class="text-center alert alert-success alert-heading">Change Succesfuly!</h4>
<hr />
<div class="alert alert-success alert-dismissible fade show">
    <strong>Password Changed Successfull !</strong> ,   Please Login ....
</div>