@{
    ViewData["Title"] = "Payment";
}
<h4 class="text-center alert alert-danger alert-heading">Payment</h4>
<hr />
<div class="alert alert-danger alert-dismissible fade show">
    <strong>Unsuccesfuly!</strong> The Payment was UnSuccesfuly .
</div>
