@{
    ViewData["Title"] = "Payment";
}



<h4 class="text-center alert alert-success alert-heading">Payment</h4>
<hr />
    <div class="alert alert-success alert-dismissible fade show">
        <strong>Succesfuly!</strong> The Payment was Succesfuly
    </div>