<section class="home-section">
    <div class="card mb-3">

        <div class="card-header">
            <a asp-controller="Statuse" asp-action="CreateDeliveryStatuse">CreateDeliveryStatuse</a>
        </div>
    </div>
    <div class="card mb-3">

        <div class="card-body">
            <a asp-area="" asp-controller="Statuse" asp-action="CreateStatus">CreateStatus</a>
        </div>
    </div>
    <div class="card mb-3">

        <div class="card-body">
            <a asp-area="" asp-controller="Statuse" asp-action="CreateQoutationStatuse">CreateQoutationStatuse</a>
        </div>
    </div>
    <div class="card mb-3">

        <div class="card-body">
            <a asp-area="" asp-controller="Statuse" asp-action="CreateCity">CreateCity</a>
        </div>
    </div>
    <div class="card mb-3">

        <div class="card-body">
            <a asp-area="" asp-controller="Statuse" asp-action="CreateIteamStatuse">CreateIteamStatuse</a>
        </div>
    </div>
</section>







<div class="card mb-3">

    <div class="card-header">
        <a asp-controller="Statuse" asp-action="CreateSize">Create Size</a>
    </div>
</div>
<div class="card mb-3">

    <div class="card-body">
        <a asp-area="" asp-controller="Statuse" asp-action="CreateGander">Create Gander</a>
    </div>
</div>
<div class="card mb-3">

    <div class="card-body">
        <a asp-area="" asp-controller="Statuse" asp-action="CreateColor">Create Color</a>
    </div>
</div>
<div class="card mb-3">

    <div class="card-body">
        <a asp-area="" asp-controller="Statuse" asp-action="CreateCategory">Create Category</a>
    </div>
</div>
<div class="card mb-3">

    <div class="card-body">
        <a asp-area="" asp-controller="Statuse" asp-action="CreateType">Create Type</a>
    </div>
</div>
